body{
  font-family: Verdana, sans-serif;
}

form{
  margin-top:100px;
  text-align: center;
}

.textbox{
  height:24px;
  width:400px;
  padding-left:10px;
}

.buttonFindYear{
  height:30px;
  width:100px;
  padding:0;
}
